#QueenSelector {
    display: inline-block;
}

.selector {
    background: none;
    border: none;
    outline: none;
    padding: 0 0.25rem;
    font-size: var(--small-font-size);
    cursor: pointer;
    color: var(--unselected-color);
}

.selector:focus, .selector:active {
    border: none;
    outline: none;
}

.selector:disabled {
    color: var(--disabled-color);
    cursor: not-allowed;
    border: none;
}

.selected {
    color: var(--font-color);
}

.selected span {
    animation: border-animation var(--animation-delay) ease-in-out forwards;
}

@keyframes border-animation {
    from {
        border-bottom: 0;
    }

    to {
        border-bottom: 3px solid #555555;
    }
}