#Boards {
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
    overflow-y: scroll;
}

#Boards::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--scroll-bar-background-color);
}

#Boards::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-thumb-background-color);
}