@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

:root {
    --small-font-size: 1rem;
    --medium-font-size: 1.25rem;
    --large-font-size: 1.5rem;
    --font-color: #444444;
    --border-color: #555555;
    --border-color-light: #888888;
    --unselected-color: #777777;
    --disabled-color: #999999;
    --animation-delay: 200ms;
}

body {
    color: var(--font-color);
    overflow: hidden;
}

button {
    padding: 0.25rem 1rem;
    outline: none;
    border: 2px solid var(--border-color);
    min-width: 75px;
}

button:focus, button:active {
    border: none;
    outline: none;
}

button:disabled {
    cursor: not-allowed;
    color: var(--disabled-color);
}

input:disabled {
    cursor: not-allowed;
}